<div class="scrivito_editing_widget_visualization">
  <%= image_tag("table.png") %>
</div>

<div class="scrivito_editing_widget_title">
  Table
</div>

<div class="scrivito_editing_widget_description">
  Add an inline editable table to your page.
</div>
