<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-headline"></span>
  </div>

  <div class="title">
    Table
  </div>

  <div class="description">
    A Table.
  </div>
</div>
